@using Microsoft.AspNetCore.Identity
@using static HomeAppliancesStore.Models.User
@inject UserManager<User> userManger
@inject SignInManager<User> signInManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HomeAppliancesStore</title>
    <style type="text/css">
        .corner {
            position: absolute;
            top: 22px;
            right: 10px;
        }

        .login {
            position: absolute;
            top: 15px;
            right: 135px;
        }
    </style>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/header.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="navbar navbar-expand-md navbar-light bg-light sticky-top">
                <div class="container-fluid">
                    <a asp-action="Index" class="navbar-brad"><img src="/img/5element.png"></a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a href="/Home/Index/" class="nav-link">Главная</a>
                            </li>
                            <li class="nav-item active">
                                <a href="/Home/Contacts/" class="nav-link">Контакты</a>
                            </li>
                            <li class="nav-item active">
                                <a href="/Home/List/" class="nav-link">Все товары</a>
                            </li>
                            <li class="nav-item active">
                                <a href="/Home/Available/" class="nav-link">Доступные</a>
                            </li>
                            <li class="nav-item active">
                                <a href="/Home/List/laptop" class="nav-link">Ноутбуки</a>
                            </li>
                            <li class="nav-item active">
                                <a href="/Home/List/phones" class="nav-link">Телефоны</a>
                            </li>
                            <li class="nav-item active">
                                <a href="/Home/List/tablets" class="nav-link">Планшеты</a>
                            </li>
                            <li class="nav-item active">
                                <a href="/Home/List/projectors" class="nav-link">Проекторы</a>
                            </li>
                            <li class="nav-item active">
                                <a asp-controller="Basket" asp-action="Index">
                                    <img src="https://img.icons8.com/metro/26/000000/shopping-cart.png" />
                                </a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0" method="post" asp-controller="Search" asp-action="Index">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="nameProduct">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
            @if (signInManager.IsSignedIn(User))
            {
                <form style="position:absolute; top:15px; right:10px;" asp-controller="Account" asp-action="Logout" method="get">
                    <button class="btn btn-primary" type="submit">Выход</button>
                </form>
            }
            else
            {
                <form style="position:absolute; top:15px; right:175px;" asp-controller="Account" asp-action="Login" method="get">
                    <button class="btn btn-primary" type="submit">Вход</button>
                </form>
                <form style="position:absolute; top:15px; right:45px;" asp-controller="Admin" asp-action="Create" method="get">
                    <button class="btn btn-primary" type="submit">Регистрация</button>
                </form>
                <a asp-controller="Account" asp-action="ForgotPassword">
                    <img src="https://img.icons8.com/material/24/000000/forgot-password.png" class="corner" />
                </a>
            }
        </nav>
    </header>
    <div class="container mb-5">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3 mt-5">
            @RenderBody()
        </main>
    </div>

    <footer class="page-footer font-small cyan darken-3">
        <div class="footer-copyright text-center py-3">
            © 2020 Copyright:
            <a asp-action="Index"> 5Element.com</a>
        </div>

    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
