@using Microsoft.AspNetCore.Identity
@using static HomeAppliancesStore.Models.User
@inject UserManager<User> userManger
@inject SignInManager<User> signInManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HomeAppliancesStore</title>
    <style type="text/css">
        .corner {
            position: absolute;
            top: 15px;
            right: 10px;
        }

        .login {
            position: absolute;
            top: 15px;
            right: 135px;
        }
    </style>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/header.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="navbar navbar-expand-md navbar-light bg-light sticky-top">
                <div class="container-fluid">
                    <a asp-controller="Home" asp-action="Index" class="navbar-brad"><img src="/img/5element.png"></a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a href="/RoleAdmin/Index/" class="nav-link">Управления ролями</a>
                            </li>
                            <li class="nav-item active">
                                <a href="/RoleAdmin/GetRequest/" class="nav-link">Статистика запросов</a>
                            </li>
                            <li class="nav-item active">
                                <a href="/RoleAdmin/ListUsers/" class="nav-link">Пользователи</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            @if (signInManager.IsSignedIn(User))
            {
                <form asp-controller="Account" asp-action="Logout" method="get" class="corner">
                    <button class="btn btn-primary" type="submit">Выход</button>
                </form>
            }
            else
            {
                <form asp-controller="Account" asp-action="Login" method="get" class="login">
                    <button class="btn btn-primary" type="submit">Вход</button>
                </form>
                <form asp-controller="Admin" asp-action="Create" method="get" class="corner">
                    <button class="btn btn-primary" type="submit">Регистрация</button>
                </form>
            }
        </nav>
    </header>
    <div class="container mb-5">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3 mt-5">
            @RenderBody()
        </main>
    </div>

    <footer class="page-footer font-small cyan darken-3">
        <div class="footer-copyright text-center py-3">
            © 2020 Copyright:
            <a asp-action="Index"> 5Element.com</a>
        </div>

    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
