@model IEnumerable<User>
@{
    Layout = "_LayoutAdmin";
}
<div class="bg-secondary m-1 p-1 text-white"><h4>Аккаунты пользователей</h4></div>
<div class="text-danger" asp-validation-summary="ModelOnly"></div>
<table class="table table-sm table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    @if (!Model.Any())
    {
        <tr>
            <td colspan="3" class="text-center">Empty</td>
        </tr>
    }
    else
    {
        foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                        <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    }
</table>
