@model HomeAppliancesStore.ViewModels.AvailableViewModel

<h2 align="center">Доступные устройства</h2>
<div class="row mt-5 mb-2">
    @foreach (Product item in Model.availableProduct)
    {
        @await Html.PartialAsync("Products", item)
    }
</div>