@using HomeAppliancesStore.ViewModels
@model ProductViewModel
@{
    ViewData["Title"] = "List";
}

<h3 align="center">@ViewBag.Category</h3>
<div class="row mt-5 mb-2">
    @foreach (Product item in Model.products)
    {
        if (item.isAvailable == false)
        {
            @await Html.PartialAsync("NotAvailable", item)
        }
        else
        {
            @await Html.PartialAsync("Products", item)
        }
    }
</div>

